/* imports the normalize document */
@import "normalize.css";

/* sets viewport to a small screen to see the two-column grid*/
@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto; /*sets the grid to two columns */
    background-color: #603e1c;
    padding: 20px;
    grid-gap: 20px;
  }

  .grid-item {
    background-color: #ff7c35;
    border: 1px rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
  }
  .tablet {
    grid-column: 1 / span 2; /* makes this image cover both columns */
    border-radius: 15px;
  }
  .coughfin {
    grid-row: 2 / span 2; /* makes this image cover two rows */
    padding-top: 13%;
  }
  /* makes sure images don't get too large */
  img {
    width: 100%;
    display: block;
  }
  /*makes welcome message go away once the user accesses the two-column grid */
  .welcome {
    display: none;
  }
}
